.filter__main{
    display: grid;
    grid-gap: 10px; 
    grid-template-columns: repeat(1, 1fr);
  
    /* Tablet devices */
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px; 
    }
  
    /* Full screen */
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px; 
    }
  }

  .filter__main{
    margin-bottom: 15px;
  }

  .inputFilter{
    width:100%;
  }

.mask__image{
  mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.job-card-description-more {
  text-align: center;
  margin-bottom: 0.5rem;
  position: relative;
  bottom: 5px;
  font-size: 0.8rem;
  font-weight: bolder;
}